<!-- <app-navbar></app-navbar> -->
<!-- <div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div> -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row d-flex flex-nowrap justify-content-around" style="padding-top: 5%;">
            <div *ngIf="currentRoles.includes('RSC')">
                <div class="card card-chart">
                    <a (click)="goToCalendar('RSC')" style="cursor: pointer;">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                            <img src="img" src="../../../../assets/img/avatar.png" class="img-fluid">
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Section : Structuring Cycle</h4>
                        <p class="card-category" style="text-align: center;">Some Text Here</p>
                    </div>
                </div>
            </div>
            <div *ngIf="currentRoles.includes('RA')" >
                <div class="card card-chart">
                    <a (click)="goToCalendar('RA')" style="cursor: pointer;">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="websiteViewsChart"></div>
                            <img src="img" src="../../../../assets/img/avatar.png" class="img-fluid">

                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Section : Academy</h4>
                        <p class="card-category" style="text-align: center;">Some Text Here</p>
                    </div>
                </div>
            </div>
            <div *ngIf="currentRoles.includes('RS')" >
                <div class="card card-chart">
                    <a (click)="goToCalendar('RS')" style="cursor: pointer;">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="completedTasksChart"></div>
                            <img src="img" src="../../../../assets/img/avatar.png" class="img-fluid">
                            <!-- <img src="img" src="../../../../assets/img/seminar.png" class="img-fluid"> -->

                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Section : Seminar</h4>
                        <p class="card-category" style="text-align: center;">Some Text Here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>